<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<body>
    <h1>PLantilla ejs</h1>
    <p > <%= variable %> </p>
    <form action="/form" method="post">
        <label for="nombre">NOMBRE</label>
        <input id="nombre" name="nombre"  type="text">
        <br>
        <label for="email">EMAIL</label>
        <input id="email" name="email"  type="text">
        <button> Press </button>
    </form>
</body>
</html>